{% extends 'shop/basic.html' %}

{% block title %} contact us {% endblock%}

{% block body %}

  <section class="breadcrumbs-section">
    <div class="container p-1 p-sm-3">
      <div class="row">
        <div class="col-12">
          <h2>Contact Us</h2>

          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/shop">Home</a></li>
            <li class="breadcrumb-item">Contact Us</li>
          </ol>
        </div>
      </div>
    </div>

  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis laborum iusto architecto, delectus odit
            tempore provident sed animi neque nesciunt aliquam deleniti temporibus alias repudiandae, quo repellat iste
            molestias accusamus.</p>
          <hr>
        </div>
      </div>
    </div>
  </section>




 <section class="form-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <form action="/shop/contact/" method="post"> {% csrf_token %}
              <div class="form-row">
                <div class=" form-group col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Full name *">
                </div>
                <div class=" form-group col-md-6">
                  <input type="email" name="email" class="form-control" placeholder="Email *">
                </div>
              </div>

              <div class="form-row">
                <div class=" form-group col-md-6">
                  <input type="number" name="phone" class="form-control" placeholder="Phone Number *">
                </div>
                <div class=" form-group col-md-6">
                 <select name="country"  class="form-control">
                   <option value="India">India</option>
                   <option value="USA">USA</option>
                   <option value="Russia">Russia</option>
                   <option value="Japan">Japan</option>
                   <option value="Australia">Australia</option>
                   <option value="England">England</option>
                 </select>
                </div>
              </div>

              <div class="form-row">
                <div class=" form-group col-12">
                  <input type="text" name="subject" class="form-control" placeholder="Subject *">
                </div>
              </div>

              <div class="form-row">
                <div class=" form-group col-12">
                  <textarea name="desc" rows="3" class="form-control"></textarea>
                </div>
              </div>

              <div class="form-row text-center">
                <div class=" form-group col-12">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>Submit</button>
                </div>
              </div>

            </form>
          </div>
        <div class="col-md-6 address">
          <h5>Call Us / Whatsapp</h5>
          <p><a href="+(91) 7240454561"> <i class="fas fa-phone"></i>+(91) 7240454561</a><br></p>
          <h5>Email / Website</h5>
          <p><a href="momentum@gmail.com"><i class="fas fa-envelope"></i> myecom@gmail.com</a><br>
            <a href="https://momentum.tech/"><i class="fas fa-globe"></i> www.myecom.com</a>
          </p>
          <h5>Working hours</h5>
          <p>
            24 Hours Open
          </p>
          <h5>Head Office</h5>
          <p>
            xyz state, Royal Plaza, station - west , Mumbai - 400104, Maharashtra
          </p>
        </div>
      </div>
    </div>
  </section>


{% endblock%}
{% block js%}
<script>
{% if thanks %}

 alert('Thanks for Contacting us. We will get to you soon. ');

document.location = '/shop/contact/';

{% endif %}
$('#amount').val($('#totalPrice').html())


  sum = 0
    if(localStorage.getItem('cart')== null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
          document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    for (item in cart) {
            var name = cart[item][1];
            var qty = cart[item][0];
            sum = sum + qty;
            mystr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-success badge-pill">${qty}</span>
                </li>`

            $('#items').append(mystr);
    }
        document.getElementById('cart').innerHTML = sum;


</script>

{% endblock %}
