{% extends 'shop/basic.html' %}

{% block title %}MyCart Tracker{% endblock %}

{% block body %} 

<div class="container">
    <div class="col my-4">
        <h2>Track Your Order Here - Enter Your Order Id and Email Address:</h2>
        <form method="post" action = "/shop/tracker/" id = "TrackerForm">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required="True"
                        placeholder="enter full name*">
                </div>
                <div class="form-group col-md-6">
                    <label for="orderid">Order id</label>
                    <input type="number" class="form-control" id="orderid" name="orderid" required="True"
                        placeholder="order id*">
                </div>
                <button type="submit" class="btn btn-primary">Track Your Order</button>

            </div>
        </form>
    </div>

    <div class = 'col my-4'>
        <h2>Your Order Status</h2> 
        <div class="my-4">
            <ul class="list-group" id = "items" name = "items">
                
            </ul>
        </div>

        <h2>Your Order Details</h2> 
        <div class="my-4">
            <ul class="list-group" id = "citems">
                
            </ul>
        </div>
    </div> 
</div>

{% endblock %}

{% block js %}

<script>
$('#TrackerForm').submit(function(event){

    $('#items').empty();
    var formData = {
        'name' : $('input[name=name]').val(),
        'orderid'   : $('input[name=orderid]').val(),
        'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
        type: 'POST',
        URL: '/shop/tracker/',
        data: formData,
        encode: true 
    })
    .done(function(data){
        $('#citems').empty();
        data = JSON.parse(data);
        if (data['status'] == 'success'){
            updates = data['updates'];
            for(i = 0; i < updates.length; i++){
                let text = updates[i]['text'];
                let time = updates[i]['time'];
                mystr =  `<li class="list-group-item d-flex justify-content-between align-items-center">${text}<span class="badge badge-primary badge-pill">${time}</span></li>`

                $('#items').append(mystr);
            }

            cart = JSON.parse(data['itemsJson'])
        for(item in cart){
            let name = cart[item][1];
            let qty = cart[item][0];
            mystr =  `<li class="list-group-item d-flex justify-content-between align-items-center">${name}<span class="badge badge-primary badge-pill">${qty}</span></li>`
            $('#citems').append(mystr);
        }
        }
        else{
            mystr =  `<li class="list-group-item d-flex justify-content-between align-items-center" style="color:red;">Sorry, we are unable to Track your Order. Kindly enter correct Name and Order Id!</li>`

            $('#items').append(mystr);
        
        }

        
    });
    event.preventDefault();
});


  sum = 0
    if(localStorage.getItem('cart')== null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
          document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    for (item in cart) {
        console.log(item);
            var name = cart[item][1];
            var qty = cart[item][0];
            sum = sum + qty;

    }
        document.getElementById('cart').innerHTML = sum;

console.log(cart);
</script>

{% endblock %}